
.ipynb_checkpoints/.gitignore-checkpoint
Birds/.ipynb_checkpoints/try-checkpoint.ipynb
Master/.ipynb_checkpoints/Compile_Csv-checkpoint.ipynb
Master/.ipynb_checkpoints/New_Split-checkpoint.ipynb
Master/.ipynb_checkpoints/resnet50-checkpoint.ipynb
Master/.ipynb_checkpoints/split_folders-checkpoint.ipynb
Master/.ipynb_checkpoints/try0-checkpoint.ipynb
Master/.ipynb_checkpoints/try1-checkpoint.ipynb
Master/.ipynb_checkpoints/try10-checkpoint.ipynb
Master/.ipynb_checkpoints/try2-checkpoint.ipynb
Master/.ipynb_checkpoints/try3-checkpoint.ipynb
Master/.ipynb_checkpoints/try4 (1)-checkpoint.ipynb
Master/.ipynb_checkpoints/try4-checkpoint.ipynb
Master/.ipynb_checkpoints/try5-checkpoint.ipynb
Master/.ipynb_checkpoints/try6-checkpoint.ipynb
Master/.ipynb_checkpoints/try7-checkpoint.ipynb
Master/.ipynb_checkpoints/try8-checkpoint.ipynb
Master/.ipynb_checkpoints/try9-checkpoint.ipynb
Master/model1/variables/variables_temp_7fa4d4100dbd4f00b9574417c3ad6958/part-00000-of-00001.data-00000-of-00001
Master/model1/variables/variables_temp_7fa4d4100dbd4f00b9574417c3ad6958/part-00000-of-00001.index
Master/model1/variables/variables_temp_a004ab7fdbb347ad8c03ba49829689d6/part-00000-of-00001.data-00000-of-00001
Master/model1/variables/variables_temp_a004ab7fdbb347ad8c03ba49829689d6/part-00000-of-00001.index
Master/model1/variables/variables_temp_f42f03230c33443a9880a4a690d56e6d/part-00000-of-00001.data-00000-of-00001
Master/model1/variables/variables_temp_f42f03230c33443a9880a4a690d56e6d/part-00000-of-00001.index
MNIST/.ipynb_checkpoints/mnist-checkpoint.ipynb
Template/.ipynb_checkpoints/template-checkpoint.ipynb
TensorFlow/.ipynb_checkpoints/tf-checkpoint.ipynb
Titanic/.ipynb_checkpoints/test-checkpoint.csv
Titanic/.ipynb_checkpoints/titanic-checkpoint.ipynb
